<style>
  body {
    background-size: cover;
    text-align: center;
  }
</style>

<h1> Search result: <%= @colour%> <%= @result%> </h1>

<table align="center">
  <tr>
    <th>
      <form action=<%= @image_urls[0] %> method="get">
        <button id="image1"> <img src=<%= @image_urls[0] %> height="150" width="150"> </button>
      </form>
    </th>

    <th>
      <form action=<%= @image_urls[1] %> method="get">
        <button id='image2'> <img src=<%= @image_urls[1] %> height="150" width="150"> </button>
      </form>
    </th>

    <th>
      <form action=<%= @image_urls[2] %> method="get">
        <button id='image3'> <img src=<%= @image_urls[2] %> height="150" width="150"> </button>
      </form>
    </th>

    <th>
      <form action=<%= @image_urls[3] %> method="get">
        <button id='image4'> <img src=<%= @image_urls[3] %> height="150" width="150"> </button>
      </form>
    </th>

    <th>
      <form action=<%= @image_urls[4] %> method="get">
        <button id="image5"> <img src=<%= @image_urls[4] %> height="150" width="150"> </button>
      </form>
    </th>
  </tr>
</table>
